In [1]:
import requests as req

from bs4 import BeautifulSoup as bs

import pandas as pd

from selenium import webdriver

import time

from selenium.webdriver.chrome.options import Options

from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.common.by import By

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
PATH = ChromeDriverManager().install()  # instala driver de chrome

driver = webdriver.Chrome(PATH)

C:\Users\delbr\AppData\Local\Temp\ipykernel_14836\80690329.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

# Primera fuente y Primer metodo: Scrap

In [4]:
url = 'https://www.relevo.com/futbol/mundial-femenino/2022/directos/2023-07-26-2260585-espana-zambia-sd-di.html?tab=alineaciones'

In [5]:
driver.get(url)

In [6]:
local = driver.find_elements(By.CSS_SELECTOR, 'div.grid.grid--AB-C > div:nth-child(1) > div > div.c-match__list > div:nth-child(2)')

In [7]:
visitante = driver.find_elements(By.CSS_SELECTOR, 'div.grid.grid--AB-C > div:nth-child(1) > div > div.c-match__list > div:nth-child(3)')

In [8]:
Dorsales = [e.text.strip('\n') for e in driver.find_elements(By.CLASS_NAME, 'c-match__member-number')]

Nombre = [e.text.strip('\n') for e in driver.find_elements(By.CLASS_NAME, 'c-match__member-name')]

In [9]:
players_data = {
    
    'Dorsal': Dorsales,
    
    'Nombre': Nombre,
    }

In [10]:
match_players = pd.DataFrame(players_data)

match_players.head()

  Dorsal                         Nombre
0      1  María Isabel Rodríguez Rivero
1     19                   Olga Carmona
2      3               Teresa Abelleira
3      4                  Irene Paredes
4      5                   Ivana Andrés

In [11]:
esp_plantilla = match_players.iloc[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]]

len(esp_plantilla)

23

In [12]:
zamb_plantilla = match_players.drop(esp_plantilla.index)

len(zamb_plantilla)

22

In [13]:
esp_plantilla = esp_plantilla.reset_index(drop=True)
zamb_plantilla = zamb_plantilla.reset_index(drop=True)

In [14]:
esp_plantilla.head()

  Dorsal                         Nombre
0      1  María Isabel Rodríguez Rivero
1     19                   Olga Carmona
2      3               Teresa Abelleira
3      4                  Irene Paredes
4      5                   Ivana Andrés

In [15]:
zamb_plantilla.head()

  Dorsal           Nombre
0     18    Eunice Sakala
1      8  Margaret Belemu
2     13     Martha Tembo
3     15    Agness Musesa
4     14      Ireen Lungu

In [16]:
idEsp = [1, 2, 3, 4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
idZamb = [1, 2, 3, 4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]

esp_plantilla.insert(0, 'idEsp', idEsp)
zamb_plantilla.insert(0, 'idZamb', idZamb)

In [17]:
esp_plantilla.head()

   idEsp Dorsal                         Nombre
0      1      1  María Isabel Rodríguez Rivero
1      2     19                   Olga Carmona
2      3      3               Teresa Abelleira
3      4      4                  Irene Paredes
4      5      5                   Ivana Andrés

In [18]:
zamb_plantilla.head()

   idZamb Dorsal           Nombre
0       1     18    Eunice Sakala
1       2      8  Margaret Belemu
2       3     13     Martha Tembo
3       4     15    Agness Musesa
4       5     14      Ireen Lungu

In [19]:
esp_plantilla.to_csv(r'C:\Users\delbr\Desktop\ETL-Project\data\esp_plantilla.csv', index = False)
zamb_plantilla.to_csv(r'C:\Users\delbr\Desktop\ETL-Project\data\zamb_plantilla.csv', index = False)

# Segunda fuente, mismo metodo

In [20]:
url = 'https://www.eurosport.es/futbol/mundial-femenino/2023/live-espana-zambia_mtc1402985/live.shtml'

In [21]:
driver.get(url)

In [22]:
Posesion = [e.text.split('\n') for e in driver.find_elements(By.CSS_SELECTOR, '#content > div.bg-br-2-90 > div.flex.justify-center.zone-section-padding--top > div > div.Column.col-span-6.sm\:col-span-6.md\:col-span-12.lg\:col-span-8.row-span-1.sm\:row-span-1.md\:row-span-1.lg\:row-span-1.col-start-1.sm\:col-start-1.md\:col-start-1.lg\:col-start-1 > div:nth-child(3) > div:nth-child(2) > div > div.mt-2 > div > div:nth-child(2) > div > div')]

DispIn = [e.text.split('\n') for e in driver.find_elements(By.CSS_SELECTOR, '#content > div.bg-br-2-90 > div.flex.justify-center.zone-section-padding--top > div > div.Column.col-span-6.sm\:col-span-6.md\:col-span-12.lg\:col-span-8.row-span-1.sm\:row-span-1.md\:row-span-1.lg\:row-span-1.col-start-1.sm\:col-start-1.md\:col-start-1.lg\:col-start-1 > div:nth-child(3) > div:nth-child(2) > div > div.mt-2 > div > div:nth-child(4) > div > div')]

Goles = [e.text.split('\n') for e in driver.find_elements(By.CSS_SELECTOR, '#LIVE_SCORE')]

Corners = [e.text.split('\n') for e in driver.find_elements(By.CSS_SELECTOR, '#content > div.bg-br-2-90 > div.flex.justify-center.zone-section-padding--top > div > div.Column.col-span-6.sm\:col-span-6.md\:col-span-12.lg\:col-span-8.row-span-1.sm\:row-span-1.md\:row-span-1.lg\:row-span-1.col-start-1.sm\:col-start-1.md\:col-start-1.lg\:col-start-1 > div:nth-child(3) > div:nth-child(2) > div > div.mt-2 > div > div:nth-child(3) > div > div')] 

Ocasiones = [e.text.split('\n') for e in driver.find_elements(By.CSS_SELECTOR,'#content > div.pb-10.bg-br-2-90 > div:nth-child(2) > div > div > div > div:nth-child(4) > div.zone-section-margin--top-small > div:nth-child(1) > div > div')]

DispTot = [e.text.split('\n') for e in driver.find_elements(By.CSS_SELECTOR, '#content > div.pb-10.bg-br-2-90 > div:nth-child(2) > div > div > div > div:nth-child(4) > div.zone-section-margin--top-small > div:nth-child(2) > div > div')]

Faltas = [e.text.split('\n') for e in driver.find_elements(By.CSS_SELECTOR, '#content > div.pb-10.bg-br-2-90 > div:nth-child(2) > div > div > div > div:nth-child(6) > div.zone-section-margin--top-small > div:nth-child(3) > div > div')]

FaltContr = [e.text.split('\n') for e in driver.find_elements(By.CSS_SELECTOR, '#content > div.pb-10.bg-br-2-90 > div:nth-child(2) > div > div > div > div:nth-child(6) > div.zone-section-margin--top-small > div:nth-child(4) > div > div')]

DispOut = [e.text.split('\n') for e in driver.find_elements(By.CSS_SELECTOR, '#content > div.bg-br-2-90 > div.flex.justify-center.zone-section-padding--top > div > div.Column.col-span-6.sm\:col-span-6.md\:col-span-12.lg\:col-span-8.row-span-1.sm\:row-span-1.md\:row-span-1.lg\:row-span-1.col-start-1.sm\:col-start-1.md\:col-start-1.lg\:col-start-1 > div:nth-child(3) > div:nth-child(2) > div > div.mt-2 > div > div:nth-child(5) > div > div')]

In [23]:
print(len(Posesion))
print(len(DispIn))
print(len(Goles))
print(len(Corners))
print(len(DispOut))

1
1
1
1
1

In [24]:
Statistics = {
    'Posesión': Posesion,
    
    'Goles': Goles,
    
    'Corners': Corners,
    
    'Disparos a puerta': DispIn,
    
    'Disparos Fuera': DispOut,
}

Stats_df = pd.DataFrame(Statistics)

Stats_df

,Posesión,Goles,Corners,Disparos a puerta,Disparos Fuera
0,"[76%, POSESIÓN, 24%]","[5, GOLES, 0]","[9, CÓRNERS, 3]","[14, DISPAROS A PUERTA, 2]","[5, DISPAROS FUERA, 5]"

In [25]:
Stats_df = Stats_df.T

Stats_df

                                            0
Posesión                 [76%, POSESIÓN, 24%]
Goles                           [5, GOLES, 0]
Corners                       [9, CÓRNERS, 3]
Disparos a puerta  [14, DISPAROS A PUERTA, 2]
Disparos Fuera         [5, DISPAROS FUERA, 5]

In [26]:
Stats_df.columns = ['Estadisticas']

Stats_df

                                 Estadisticas
Posesión                 [76%, POSESIÓN, 24%]
Goles                           [5, GOLES, 0]
Corners                       [9, CÓRNERS, 3]
Disparos a puerta  [14, DISPAROS A PUERTA, 2]
Disparos Fuera         [5, DISPAROS FUERA, 5]

In [27]:
Stats_df['España'] = Stats_df['Estadisticas'].str[0]

Stats_df

                                 Estadisticas España
Posesión                 [76%, POSESIÓN, 24%]    76%
Goles                           [5, GOLES, 0]      5
Corners                       [9, CÓRNERS, 3]      9
Disparos a puerta  [14, DISPAROS A PUERTA, 2]     14
Disparos Fuera         [5, DISPAROS FUERA, 5]      5

In [28]:
Stats_df['Categoria'] = Stats_df['Estadisticas'].str[1]

Stats_df

                                 Estadisticas España          Categoria
Posesión                 [76%, POSESIÓN, 24%]    76%           POSESIÓN
Goles                           [5, GOLES, 0]      5              GOLES
Corners                       [9, CÓRNERS, 3]      9            CÓRNERS
Disparos a puerta  [14, DISPAROS A PUERTA, 2]     14  DISPAROS A PUERTA
Disparos Fuera         [5, DISPAROS FUERA, 5]      5     DISPAROS FUERA

In [29]:
Stats_df['Zambia'] = Stats_df['Estadisticas'].str[-1]

Stats_df

                                 Estadisticas España          Categoria Zambia
Posesión                 [76%, POSESIÓN, 24%]    76%           POSESIÓN    24%
Goles                           [5, GOLES, 0]      5              GOLES      0
Corners                       [9, CÓRNERS, 3]      9            CÓRNERS      3
Disparos a puerta  [14, DISPAROS A PUERTA, 2]     14  DISPAROS A PUERTA      2
Disparos Fuera         [5, DISPAROS FUERA, 5]      5     DISPAROS FUERA      5

In [30]:
Stats_df = Stats_df.drop('Estadisticas', axis=1)

Stats_df

                  España          Categoria Zambia
Posesión             76%           POSESIÓN    24%
Goles                  5              GOLES      0
Corners                9            CÓRNERS      3
Disparos a puerta     14  DISPAROS A PUERTA      2
Disparos Fuera         5     DISPAROS FUERA      5

In [31]:
Stats_df = Stats_df.reset_index(drop=True)

Stats_df

  España          Categoria Zambia
0    76%           POSESIÓN    24%
1      5              GOLES      0
2      9            CÓRNERS      3
3     14  DISPAROS A PUERTA      2
4      5     DISPAROS FUERA      5

In [58]:
Stats_df.to_csv(r'C:\Users\delbr\Desktop\ETL-Project\data\Stats_Spain_vs_Zambia.csv', index=False)

# Tercera fuente y segundo metodo: CSV

In [37]:
import pandas as pd

In [38]:
results_df = pd.read_csv(r'C:\Users\delbr\Desktop\ETL-Project\data\results.csv')

In [39]:
results_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1969-11-01,Italy,France,1,0,Euro,Novara,Italy,False
1,1969-11-01,Denmark,England,4,3,Euro,Aosta,Italy,True
2,1969-11-02,England,France,2,0,Euro,Turin,Italy,True
3,1969-11-02,Italy,Denmark,3,1,Euro,Turin,Italy,False
4,1970-07-06,England,West Germany,5,1,World Cup,Genova,Italy,True

In [40]:
results_df = results_df[(results_df['home_team'].isin(['Spain', 'Zambia'])) | (results_df['away_team'].isin(['Spain', 'Zambia']))]

In [48]:
results_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
189,1985-04-27,Hungary,Spain,1,0,UEFA Euro qualification,Hungary,Hungary,False
199,1985-06-25,Spain,Switzerland,0,2,UEFA Euro qualification,Cuenca,Spain,False
217,1985-11-03,Spain,Italy,2,3,UEFA Euro qualification,Palma,Spain,False
225,1986-04-05,Spain,Hungary,1,2,UEFA Euro qualification,Spain,Spain,False
231,1986-06-10,Switzerland,Spain,0,3,UEFA Euro qualification,Solothurn,Switzerland,False

In [55]:
results_df.shape

(192, 9)

In [53]:
spain_vs_zambia = results_df[(results_df['home_team'] == 'Spain') & (results_df['away_team'] == 'Zambia')]

spain_vs_zambia

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral]
Index: []

In [54]:
zambia_vs_spain = results_df[(results_df['home_team'] == 'Zambia') & (results_df['away_team'] == 'Spain')]

zambia_vs_spain

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral]
Index: []

In [56]:
spain_vs_zambia.to_csv(r'C:\Users\delbr\Desktop\ETL-Project\data\spain_vs_zambia.csv', index=False)

zambia_vs_spain.to_csv(r'C:\Users\delbr\Desktop\ETL-Project\data\zambia_vs_spain.csv', index=False)

In [57]:
results_df.to_csv(r'C:\Users\delbr\Desktop\ETL-Project\data\results.csv', index=False)